{% extends 'poli_match/base.html' %}
{% load static %}

{% block content %}

<div id='frame'>
        <img src="{% static 'background.png' %}" alt="background" id="background">
        <img src="{% static 'party-swipe-white-logo-transparent.png' %}" alt="background-logo" id="background-logo">
        <a href="{% url 'quote_detail' pk=rand %}" id="home-btn" class="waves-effect waves-light btn #e3f2fd blue lighten-5 blue-text text-darken-2">Start Swiping<i class="material-icons right">send</i></a>
    <!-- <div>
        <img src="{% static 'background.png' %}" alt="background" id="background">
    </div> -->

</div>



{% endblock %}

