{% extends 'poli_match/base.html' %}

{% block content %}
{% if error %}
  <div>
    <strong>Error!</strong> {{error}}
  </div>
{% endif %}
<div class="container columns">
<h1>Login</h1>

<form method="POST" action="/login">
  {% csrf_token %}
  <div class="form">
    <label>Email:</label>
    <input type="text" name="email" placeholder="Your email">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password">
  </div>
   <button class="waves-effect waves-light btn #e3f2fd blue lighten-5 blue-text text-darken-2" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>

{% endblock %}
