{% extends 'poli_match/base.html' %}

{% block content %}
<div class="container columns">
<h2>Politicians</h2>
<ul>
	<!-- for each politician in politicians print this -->
	{% for politician in politicians %}
		<li>
			<h6><a class="poli_link" href="{% url 'politician_detail' pk=politician.pk %}">{{ politician.first_name }} {{ politician.last_name }}</a> {{ politician.state }} {{ politician.title }}</h6>
		</li>
	{% endfor %}
</ul>
{% if user.is_staff %}
	<a href="{% url 'politician_create' %}" class="waves-effect waves-light btn #e3f2fd blue lighten-5 blue-text text-darken-2">Add Politician<i class="material-icons right">add</i></a>
{% endif %}
</div>
{% endblock %}
