{% extends 'poli_match/base.html' %}
{% load static %}

{% block content %}
<div class='container columns'>
<h2>{{ politician.first_name }} {{ politician.last_name }}</h2>
<a href="{% url 'quote_detail' pk=rand %}" class="waves-effect waves-light btn #e3f2fd blue lighten-5 blue-text text-darken-2">Swipe Again<i class="material-icons right">send</i></a>
<h4>Office: {{ politician.office }}</h4>
<img src="{{ politician.photo_url }}" alt="politician_photo" class="politician-photo">

<h3>Quotes</h3>
<ul>
	{% for quote in politician.quotes.all %}
		<li>- {{ quote.content }}</li>
	{% endfor %}
</ul>
<a href="{% url 'quote_detail' pk=rand %}" id='pol-btn' class="waves-effect waves-light btn #e3f2fd blue lighten-5 blue-text text-darken-2">Swipe Again<i class="material-icons right">send</i></a>
</div>
{% endblock %}

