{% extends 'poli_match/base.html' %}

{% block content %}
  {% if error %}
    <div>
      <strong>Error!</strong> {{error}}
    </div>
  {% endif %}

  <h1>Sign Up</h1>
  <form method="POST" action="/signup">
    {% csrf_token %}
    <div>
      <label>Email:</label>
      <input type="text" name="email"placeholder="Your email?">
    </div>
    <div>
      <label>First Name:</label>
      <input type="text" name="first_name"placeholder="Your first name?">
    </div>
    <div>
      <label>Last name:</label>
      <input type="text" name="last_name"placeholder="Your last name?">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password">
    </div>
    <input type="submit" value="sign me up">
  </form>
{% endblock %}