h1, h2, h3, h4, h5, h6, ul {
	font-family: 'Raleway', sans-serif;
}

a, p, li {
	font-family: 'Merriweather', serif;
}

#brand-logo{
	width: auto;
	height: 70px;
}

#frame {
	position: relative;
	width: 100%;
}

#background {
	width: 100%;
}

#background-logo {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: auto;
}

.brand-logo-footer {
	width: 64px;
	height: auto;
	color: #FBFBFC;
	position: static;
}


#home-btn {
	position: absolute;
	top: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

}

h1, h2 {
	margin: 0;
	padding-bottom: 5%;
}

.columns {
	background-color: #CCD4FC;
	min-height: 100vh;
	padding: 5%;
}

body{
	background-color: #FBFBFC;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav{
	position: relative;
	background-color: #5A76FC;
	z-index: 100;
}

.page-footer{
	background-color: #5A76FC;
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	height: 64px;
}

.politician-photo {
	width: 200px;
	height: 200px;
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

html, body {
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

#pol-btn {
	margin-bottom: 10px;
}